
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #c2c2c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
    border: 5px solid #f70642;
}
header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #f70642;
}
header nav a:hover {
    color: #ddd;
    
}

/* Conteúdo Principal */
main {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    
}
.post {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #f70642;
}
.post h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 5px;
}
.post .date {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 15px;
}
.post .summary {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
}
.post .read-more {
    display: inline-block;
    color: #972908;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}
.post .read-more:hover {
    color: #972908;
    
}

/* Rodapé */
footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 0.9em;
    margin-top: 20px;
    border: 5px solid #f70642;
}
